Repository jeanesdev/augeo: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, bicep-build

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend/augeo-admin && pnpm lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check
  entry: bash -c 'cd frontend/augeo-admin && pnpm type-check'
  language: system
  pass_filenames: false

bicep-build:
  name: Bicep Build Validation
  entry: bash -c 'for file in "$@"; do echo "Validating $file..."; az bicep build --file "$file" || exit 1; done' --
  language: system
  pass_filenames: true

fix(ci): Fix all Bicep, frontend, and backend validation errors
  .gitignore
  backend/app/schemas/users.py
  backend/app/services/user_service.py
  backend/app/tests/contract/test_users_create.py
  backend/app/tests/contract/test_users_role.py
  frontend/augeo-admin/package.json
  infrastructure/bicep/modules/dns.bicep
Due: bicep-build

fix(bicep): Add missing targetScope to budget module
  frontend/augeo-admin/src/features/users/data/users.ts
  frontend/augeo-admin/src/main.tsx
  infrastructure/bicep/main.bicep
  infrastructure/bicep/modules/budget.bicep
  infrastructure/bicep/modules/dns.json
Due: frontend-lint, frontend-typecheck, bicep-build

fix(tests): Fix integration test failures from schema validation changes
  backend/app/tests/integration/test_auth_flow.py
  backend/app/tests/integration/test_rate_limiting.py
  backend/app/tests/integration/test_role_assignment.py
  infrastructure/bicep/main-minimal.bicep
  infrastructure/bicep/modules/app-service-plan.json
  infrastructure/bicep/modules/app-service.json
  infrastructure/bicep/modules/budget.json
  infrastructure/bicep/modules/communication.json
  infrastructure/bicep/modules/database.json
  infrastructure/bicep/modules/key-vault.json
  infrastructure/bicep/modules/log-analytics.json
  infrastructure/bicep/modules/monitoring.json
  infrastructure/bicep/modules/redis.json
  infrastructure/bicep/modules/resource-group.json
  infrastructure/bicep/modules/resource-lock.json
  infrastructure/bicep/modules/static-web-app.json
  infrastructure/bicep/modules/storage.json
Due: bicep-build

security: Replace python-jose with PyJWT to fix ecdsa vulnerabilities
  backend/app/core/security.py
  backend/app/middleware/auth.py
  backend/app/tests/unit/test_security.py
  backend/poetry.lock
  backend/pyproject.toml
Due: none

fix(lint,ci): Fix mypy strict mode and GitHub Actions workflow syntax errors
  .github/workflows/bicep-validate.yml
  backend/app/core/security.py
Due: none

Add specification for legal documentation feature
  .specify/specs/005-legal-documentation/checklists/requirements.md
  .specify/specs/005-legal-documentation/spec.md
Due: none

feat(legal): add Phase 0-1 planning documents
  .github/copilot-instructions.md
  .specify/specs/005-legal-documentation/contracts/api-contracts.md
  .specify/specs/005-legal-documentation/data-model.md
  .specify/specs/005-legal-documentation/plan.md
  .specify/specs/005-legal-documentation/quickstart.md
  .specify/specs/005-legal-documentation/research.md
Due: none

feat(legal): add Phase 2 implementation tasks
  .specify/specs/005-legal-documentation/tasks.md
Due: none

feat(legal): implement GDPR compliance system (Phases 0-2)
  backend/alembic/versions/007_add_legal_compliance_tables.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/consent.py
  backend/app/api/v1/cookies.py
  backend/app/api/v1/legal_documents.py
  backend/app/main.py
  backend/app/middleware/auth.py
  backend/app/middleware/consent_check.py
  backend/app/models/__init__.py
  backend/app/models/consent.py
  backend/app/models/legal_document.py
  backend/app/models/user.py
  backend/app/schemas/__init__.py
  backend/app/schemas/consent.py
  backend/app/schemas/cookies.py
  backend/app/schemas/legal_documents.py
  backend/app/services/consent_service.py
  backend/app/services/cookie_consent_service.py
  backend/app/services/legal_document_service.py
  backend/app/tests/conftest.py
  backend/app/tests/integration/test_consent_flow.py
  backend/app/tests/integration/test_cookie_consent.py
  backend/app/tests/integration/test_legal_documents.py
Due: none

feat(legal): implement Phase 3 - Terms of Service frontend
  frontend/augeo-admin/src/components/legal/legal-document-viewer.tsx
  frontend/augeo-admin/src/components/legal/terms-of-service-modal.tsx
  frontend/augeo-admin/src/features/auth/sign-up/components/sign-up-form.tsx
  frontend/augeo-admin/src/hooks/use-consent-check.ts
  frontend/augeo-admin/src/hooks/use-legal-documents.ts
  frontend/augeo-admin/src/lib/axios.ts
  frontend/augeo-admin/src/services/consent-service.ts
  frontend/augeo-admin/src/services/legal-service.ts
  frontend/augeo-admin/src/stores/legal-store.ts
  frontend/augeo-admin/src/types/consent.ts
  frontend/augeo-admin/src/types/legal.ts
Due: frontend-lint, frontend-typecheck

feat(legal): implement Phase 4 - Privacy Policy acceptance
  frontend/augeo-admin/src/pages/legal/index.ts
  frontend/augeo-admin/src/pages/legal/privacy-policy.tsx
  frontend/augeo-admin/src/pages/legal/terms-of-service.tsx
  frontend/augeo-admin/src/routes/(auth)/privacy-policy.tsx
  frontend/augeo-admin/src/routes/(auth)/terms-of-service.tsx
Due: frontend-lint, frontend-typecheck

feat(005-legal-documentation): Implement Phase 5 - Cookie Consent Management (T045-T059)
  frontend/augeo-admin/src/components/legal/cookie-consent-banner.tsx
  frontend/augeo-admin/src/components/legal/cookie-consent-wrapper.tsx
  frontend/augeo-admin/src/components/legal/cookie-preferences.tsx
  frontend/augeo-admin/src/hooks/use-cookie-consent.ts
  frontend/augeo-admin/src/routes/__root.tsx
  frontend/augeo-admin/src/services/cookie-service.ts
  frontend/augeo-admin/src/stores/cookie-store.ts
  frontend/augeo-admin/src/types/cookie.ts
  frontend/augeo-admin/src/utils/cookie-manager.ts
  infrastructure/bicep/modules/app-service-plan.json
  infrastructure/bicep/modules/app-service.json
  infrastructure/bicep/modules/budget.json
  infrastructure/bicep/modules/communication.json
  infrastructure/bicep/modules/database.json
  infrastructure/bicep/modules/dns.json
  infrastructure/bicep/modules/key-vault.json
  infrastructure/bicep/modules/log-analytics.json
  infrastructure/bicep/modules/monitoring.json
  infrastructure/bicep/modules/redis.json
  infrastructure/bicep/modules/resource-group.json
  infrastructure/bicep/modules/resource-lock.json
  infrastructure/bicep/modules/static-web-app.json
  infrastructure/bicep/modules/storage.json
Due: frontend-lint, frontend-typecheck

feat(005-legal-documentation): Implement Phase 6 - Access Legal Documents Anytime (T062-T070)
  frontend/augeo-admin/src/components/layout/authenticated-layout.tsx
  frontend/augeo-admin/src/components/legal/legal-footer.tsx
  frontend/augeo-admin/src/features/auth/auth-layout.tsx
  infrastructure/bicep/modules/app-service-plan.json
  infrastructure/bicep/modules/app-service.json
  infrastructure/bicep/modules/budget.json
  infrastructure/bicep/modules/communication.json
  infrastructure/bicep/modules/database.json
  infrastructure/bicep/modules/dns.json
  infrastructure/bicep/modules/key-vault.json
  infrastructure/bicep/modules/log-analytics.json
  infrastructure/bicep/modules/monitoring.json
  infrastructure/bicep/modules/redis.json
  infrastructure/bicep/modules/resource-group.json
  infrastructure/bicep/modules/resource-lock.json
  infrastructure/bicep/modules/static-web-app.json
  infrastructure/bicep/modules/storage.json
Due: frontend-lint, frontend-typecheck

feat(005-legal-documentation): Implement Phase 7 - GDPR Consent History & Data Rights (T071-T083)
  frontend/augeo-admin/src/components/layout/authenticated-layout.tsx
  frontend/augeo-admin/src/components/legal/consent-history.tsx
  frontend/augeo-admin/src/components/legal/cookie-consent-banner.tsx
  frontend/augeo-admin/src/components/legal/cookie-consent-wrapper.tsx
  frontend/augeo-admin/src/components/legal/cookie-preferences.tsx
  frontend/augeo-admin/src/components/legal/data-rights-form.tsx
  frontend/augeo-admin/src/components/legal/legal-document-viewer.tsx
  frontend/augeo-admin/src/components/legal/terms-of-service-modal.tsx
  frontend/augeo-admin/src/features/auth/sign-up/components/sign-up-form.tsx
  frontend/augeo-admin/src/features/settings/index.tsx
  frontend/augeo-admin/src/hooks/use-consent-check.ts
  frontend/augeo-admin/src/hooks/use-cookie-consent.ts
  frontend/augeo-admin/src/hooks/use-legal-documents.ts
  frontend/augeo-admin/src/pages/legal/consent-settings.tsx
  frontend/augeo-admin/src/pages/legal/index.ts
  frontend/augeo-admin/src/pages/legal/privacy-policy.tsx
  frontend/augeo-admin/src/pages/legal/terms-of-service.tsx
  frontend/augeo-admin/src/routes/(auth)/privacy-policy.tsx
  frontend/augeo-admin/src/routes/(auth)/terms-of-service.tsx
  frontend/augeo-admin/src/routes/__root.tsx
  frontend/augeo-admin/src/routes/_authenticated/settings/consent.tsx
  frontend/augeo-admin/src/stores/cookie-store.ts
  frontend/augeo-admin/src/stores/legal-store.ts
  frontend/augeo-admin/src/types/consent-history.ts
Due: frontend-lint, frontend-typecheck

feat(legal): Phase 8 - Polish & Documentation
  backend/README.md
  frontend/augeo-admin/README.md
Due: none

chore: ESLint import reordering
  frontend/augeo-admin/src/components/legal/consent-history.tsx
  frontend/augeo-admin/src/components/legal/data-rights-form.tsx
  frontend/augeo-admin/src/features/settings/index.tsx
  frontend/augeo-admin/src/pages/legal/consent-settings.tsx
  frontend/augeo-admin/src/pages/legal/index.ts
  frontend/augeo-admin/src/routeTree.gen.ts
  frontend/augeo-admin/src/routes/_authenticated/settings/consent.tsx
Due: frontend-lint, frontend-typecheck

feat: add legal document seed script and update CORS for local development
  .specify/specs/005-legal-documentation/PR_DESCRIPTION.md
  backend/seed_legal_documents.py
Due: none

feat(spec): add optional organization name and address fields to user profile
  .specify/specs/001-user-authentication-role/data-model.md
  .specify/specs/001-user-authentication-role/plan.md
  .specify/specs/001-user-authentication-role/spec.md
  .specify/specs/001-user-authentication-role/tasks.md
Due: none

refactor(spec): Move Phase 13 before Task Summary section
  .specify/specs/001-user-authentication-role/tasks.md
Due: none

feat(user): Add optional organization name and address fields
  backend/alembic/versions/008_add_user_organization_fields.py
  backend/app/models/user.py
  backend/app/schemas/auth.py
  backend/app/schemas/users.py
  backend/app/services/auth_service.py
  backend/app/services/user_service.py
  frontend/augeo-admin/src/features/auth/sign-up/components/sign-up-form.tsx
  frontend/shared/types/user.ts
Due: frontend-lint, frontend-typecheck

feat(user): restructure address from single field to 6 structured components
  .specify/specs/001-user-authentication-role/tasks.md
  backend/alembic/versions/009_restructure_user_address_fields.py
  backend/app/models/user.py
  backend/app/schemas/auth.py
  backend/app/schemas/users.py
  backend/app/services/auth_service.py
  backend/app/services/user_service.py
  frontend/augeo-admin/src/features/auth/sign-up/components/sign-up-form.tsx
  frontend/shared/types/user.ts
Due: frontend-lint, frontend-typecheck

feat(frontend): add organization and address fields to user management
  frontend/augeo-admin/src/features/auth/sign-up/components/sign-up-form.tsx
  frontend/augeo-admin/src/features/users/api/users-api.ts
  frontend/augeo-admin/src/features/users/components/users-action-dialog.tsx
  frontend/augeo-admin/src/features/users/data/schema.ts
Due: frontend-lint, frontend-typecheck

feat(tests): add comprehensive tests for organization and address fields (T180-T182)
  backend/app/api/v1/auth.py
  backend/app/api/v1/users.py
  backend/app/services/user_service.py
  backend/app/tests/contract/test_auth_register.py
  backend/app/tests/contract/test_users_update.py
  backend/app/tests/integration/test_auth_flow.py
Due: none

docs(contracts): add organization and address fields to API contracts (T185-T187)
  .specify/specs/001-user-authentication-role/contracts/auth.yaml
  .specify/specs/001-user-authentication-role/contracts/users.yaml
  .specify/specs/001-user-authentication-role/quickstart.md
Due: none

docs(tasks): mark Phase 13 documentation tasks complete (T185-T187)
  .specify/specs/001-user-authentication-role/tasks.md
Due: none

docs: move Phase 13 PR description to spec directory
  .specify/specs/001-user-authentication-role/PR_PHASE_13.md
Due: none

style: fix Black formatting in seed_legal_documents.py
  backend/seed_legal_documents.py
Due: none

fix: Black formatting for test files
  backend/app/tests/contract/test_auth_register.py
  backend/app/tests/contract/test_users_update.py
Due: none

fix(frontend): Fix TypeScript errors in apps/index.tsx and __root.tsx
  frontend/augeo-admin/src/features/apps/index.tsx
  frontend/augeo-admin/src/routes/__root.tsx
Due: frontend-lint, frontend-typecheck

style(frontend): Reorder imports per ESLint rules
  frontend/augeo-admin/src/features/apps/index.tsx
  frontend/augeo-admin/src/routes/__root.tsx
Due: frontend-lint, frontend-typecheck

feat(auth): implement professional email verification with HTML templates
  backend/.env.example
  backend/app/api/v1/auth.py
  backend/app/services/email_service.py
  send-verification-email.sh
  test-email-verification.sh
Due: none

feat(002-npo-creation): Phase 2 NPO Creation - Complete backend, frontend, and tests
  .specify/specs/002-npo-creation/PHASE0_SETUP_COMPLETE.md
  .specify/specs/002-npo-creation/tasks.md
  backend/.env.example
  backend/alembic/versions/008_add_npo_management_tables.py
  backend/alembic/versions/009_add_deleted_at_to_npo.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/npos.py
  backend/app/core/config.py
  backend/app/models/__init__.py
  backend/app/models/invitation.py
  backend/app/models/npo.py
  backend/app/models/npo_application.py
  backend/app/models/npo_branding.py
  backend/app/models/npo_member.py
  backend/app/schemas/__init__.py
  backend/app/schemas/npo.py
  backend/app/schemas/npo_application.py
  backend/app/schemas/npo_branding.py
  backend/app/schemas/npo_member.py
  backend/app/services/__init__.py
  backend/app/services/audit_service.py
  backend/app/services/email_service.py
  backend/app/services/file_upload_service.py
  backend/app/services/npo_permission_service.py
  backend/app/services/npo_service.py
  backend/app/tests/conftest.py
  backend/app/tests/integration/test_npo_flow.py
  backend/app/tests/unit/test_npo_service.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/seed_legal_documents.py
  frontend/augeo-admin/package.json
  frontend/augeo-admin/pnpm-lock.yaml
  frontend/augeo-admin/src/components/npo/index.ts
  frontend/augeo-admin/src/components/npo/npo-creation-form.tsx
  frontend/augeo-admin/src/pages/npo/create-npo.tsx
  frontend/augeo-admin/src/routes/_authenticated/npos/create.tsx
  frontend/augeo-admin/src/services/npo-service.ts
  frontend/augeo-admin/src/stores/npo-store.ts
  frontend/augeo-admin/src/types/npo.ts
Due: frontend-lint, frontend-typecheck

Path conditions:
  frontend-lint: any of: ^frontend/augeo-admin/src/.*\.[jt]sx?$
  frontend-typecheck: any of: ^frontend/augeo-admin/src/.*\.[jt]sx?$
  bicep-build: any of: ^infrastructure/bicep/.*\.bicep$
